In [2]:
import pandas as pd

sozluk = {
    "Kategori": ["Giyim", "Giyim", "Ayakkabı", "Aksesuar", "Ayakkabı", "Giyim", "Aksesuar", "Aksesuar", "Ayakkabı", "Giyim"],
    "Ürün": ["Kazak", "T-shirt", "Sandalet", "Küpe", "Spor Ayakkabı", "Pantolon", "Kolye", "Yüzük", "Çizme", "Ceket"],
    "Fiyat": [300, 180, 450, 50, 700, 400, 150, 80, 850, 900]
}

df = pd.DataFrame(sozluk)

print(df)

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

In [3]:
df.at[2, 'Kategori']

'Ayakkabı'

In [6]:
df.at[2, "Ürün"]

'Sandalet'

In [7]:
df.loc[4:9]

   Kategori           Ürün  Fiyat
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

In [8]:
df.loc[1:6, "Ürün"]

1          T-shirt
2         Sandalet
3             Küpe
4    Spor Ayakkabı
5         Pantolon
6            Kolye
Name: Ürün, dtype: object

In [9]:
df[df["Kategori"] == "Giyim"]["Ürün"]

0       Kazak
1     T-shirt
5    Pantolon
9       Ceket
Name: Ürün, dtype: object

In [10]:
df[df["Kategori"] == "Ayakkabı"]["Ürün"]

2         Sandalet
4    Spor Ayakkabı
8            Çizme
Name: Ürün, dtype: object

In [11]:
df[df["Kategori"] == "Aksesuar"]["Ürün"]

3     Küpe
6    Kolye
7    Yüzük
Name: Ürün, dtype: object

In [12]:
df[(df["Kategori"] == "Giyim") & (df["Fiyat"] > 300)]

  Kategori      Ürün  Fiyat
5    Giyim  Pantolon    400
9    Giyim     Ceket    900

In [13]:
df[(df["Kategori"] == "Ayakkabı") & (df["Fiyat"] < 600)]

   Kategori      Ürün  Fiyat
2  Ayakkabı  Sandalet    450

In [14]:
df[(df["Kategori"] == "Aksesuar") & (df["Fiyat"] > 100)]

   Kategori   Ürün  Fiyat
6  Aksesuar  Kolye    150